body{
    background-color: #222;
}

.container{
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.screen{
    position: relative;
    height: 50vh;
}

.visible{
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.hidden{
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

#prev{
    position: absolute;
    left: 0;
}

#next{
    position: absolute;
    right: 0;
}

button{
    z-index: 100;
    background: none;
    border: none;
    color: white;
    padding: 0 20px;
    font-size: 20pt;
    opacity: 0.4;
    height: 100vh;
    transition: all 0.2s ease-in-out;
}

button:hover:enabled{
    cursor: pointer;
    background-color: rgba(255,255,255, 0.1);
    opacity: 1;
}

button:disabled{
    opacity: 0;
}